.App {
  text-align: center;
}

th {
  text-transform: uppercase;
}

td {
  border: 1px solid gray;
  max-width: 139px;
  min-width: 139px;
  text-align: center;
  word-wrap: break-word;
}

.containerFilters {
  margin: 15px 0;
}

.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
